{% extends 'administracion/index.html' %}
{% block title %}
Registrar
{% endblock %}
{% block header %}
{% endblock %}
{%  block content %}

<form id="form2"  method="post" autocomplete="off">
  {% csrf_token %}
  {{ form.as_p }}
  <script src="http://code.jquery.com/jquery-1.0.4.js"></script>
  <script>
        $(document).ready(function () {
            $("#texto1").keyup(function () {
                var value = $(this).val();
                $("#texto2").val(value);
            });
        });
  </script>
  <script>
        $(document).ready(function () {
            $("#texto3").keyup(function () {
                var value = $(this).val();
                $("#texto4").val(value);
            });
        });
  </script>


  <script type="text/javascript">
      function FijarPrecio(id){
         var PrecioSel = document.getElementById(id);
         var PrecioActual = document.getElementById('Precio');
         PrecioActual.value = PrecioSel.value;
      }
  </script>


  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group" >
        <label>Nombre y Apellido</label>
        <input class="form-control"  type="text" name="first_name" id="texto1" required value="{{ profile.nombre}}">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="options1">Perfil</label>
        {% if object_list %}
        {% for profile in object_list %}
            <select name="last_name"  class="form-control" id="Seleccionar" onchange="FijarPrecio(this.id);" >
            	<option value="{{profile.nombre}}">{{profile.nombre}}</option>
            	<option value="Gestor">Gestor</option>
            	<option value="Administrador">Administrador</option>
            	<option value="Certificador">Certificador</option>
            </select>
            {% endfor %}
            {% endif %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Nombre de Usuario</label>
        <input class="form-control" type="text" name="username" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Correo</label>
        <input class="form-control" type="text" name="email" id="texto3" required value="{{ profile.correo}}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Contraseña</label>
        <input class="form-control" type="password" name="password1" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label>Confirmar Contraseña</label>
        <input class="form-control" type="password" name="password2" required>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Guardar</button>
      </div>
  </div>
</form>
{% endblock %}
{% block footer %}
{% endblock %}
