{% extends 'administracion/index.html' %}
{% block title %}
Asignaciones
{% endblock %}
{% block header %}
{% endblock %}
{%  block content %}
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Iniciativas</th>
        <th>Certificadores</th>
        <th>Pestanas</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
      {% for asignacion in object_list %}
      <tr>
        <td>{{asignacion.iniciativa}}</td>
        <td>{{asignacion.certificador}}</td>
        <td>{% for pestana in asignacion.pestanas.all %}
                {{ pestana.nombre }}
            {% endfor %}</td>
        <td>
          <a  class="btn btn-primary" href="{% url 'gestor:Asignacion_editar' asignacion.id %}">Editar</a>
          <a  class="btn btn-danger" href="{% url 'gestor:Asignacion_eliminar' asignacion.id %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}

        <h1>No hay registros de Asignaciones</h1>
      {% endif %}
        <table class="table table-striped table-hover " name = "tablap">
        </table>
  <ul class="pager">
    <li>
      {% if page_obj.has_previous %}
      <a href="?page={{page_obj.previous_page_number}}">Anterior</a>
      {% endif %}
    </li>
    <li>
      {% if page_obj.has_next %}
      <a href="?page={{page_obj.next_page_number}}">Proximo</a>
      {% endif %}
    </li>
  </ul>

{% endblock %}
