{% extends 'administracion/index.html' %}
{% block title %}
Listado de ATM
{% endblock %}
{% block header %}
{% endblock %}
{%  block content %}
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Terminal</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% if atms %}
      {% for atm in atms %}
      <tr>
        <td>{{atm.Marca}}</td>
        <td>{{atm.Modelo}}</td>
        <td>{{atm.terminal}}</td>
        <td>
          <a  class="btn btn-primary" href="{% url 'administrador:Atm_editar' atm.id_ATM %}">Editar</a>
          <a  class="btn btn-danger" href="{% url 'administrador:Atm_eliminar' atm.id_ATM %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}

        <h1>No hay registros de BINES</h1>

      {% endif %}
    </tbody>
  </table>
{% endblock %}
