{% extends 'administracion/index.html' %}
{% block title %}
Listado de Estados
{% endblock %}
{% block header %}
{% endblock %}
{%  block content %}
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% if estadois %}
      {% for estadoi in estadois %}
      <tr>
        <td>{{estadoi.nombre}}</td>
        <td>{{estadoi.descripcion}}</td>
        <td>
          <a  class="btn btn-primary" href="{% url 'administrador:Estadoi_editar' estadoi.id_Estado_iniciativa %}">Editar</a>
          <a  class="btn btn-danger" href="{% url 'administrador:Estadoi_eliminar' estadoi.id_Estado_iniciativa %}">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
      {% else %}

        <h1>No hay registros de Estados de Iniciativas</h1>

      {% endif %}
    </tbody>
  </table>
{% endblock %}
